#header {
  text-align: center;
}

#space {
    display: flex;
}

#workspace {
  width: 30%;
  height: 100%;
  border: 5px solid black;
}

#todoSpace {
  width: 70%;
  height: 100%;
  border: 5px solid black;
  text-align: center;
}

.add {
  position: relative;
  left: 50%;
}

#createProject {
  display: none;
}

#createTodo {
  display: none;
}

.project {
  margin: 0px;
}

.delete-btn {
  display: inline-block;
  float: right;
  width:100px;
  height: 18px;
}

.item {
  text-indent: 1em;
  margin: 0px;
  color: black;
}

.pItem {
  display: inline-block;
  margin: 0px;
  color: black;
}

.view-todo {
  display: inline-block;
  float: right;
  height: 18px;
} 

.todoInfo {
  display: none;
}

body {
  background-color: lightblue;
}

#projectHeader {
  margin: 0px;
  text-align: center;
}