#header {
  text-align: center;
}

#space {
    display: flex;
    /* flex-direction: rows; */
}

#workspace {
  width: 30%;
  height: 100%;
  border: 5px solid black;
}

#todoSpace {
  width: 70%;
  height: 100%;
  border: 5px solid black;
  text-align: center;
}

.item {
  text-indent: 1em;
}

.add {
  position: relative;
  left: 50%;
}

#createProject {
  display: none;
}

#createTodo {
  display: none;
}

.delete-btn {
  /* position: fixed;
  bottom: 20px;
  left: 100px; */
}

.todoInfo {
  display: none;
}