#header {
  text-align: center;
}

#workspace {
  width: 30%;
  height: 100%;
  border: 5px solid black;
  /* text-align: center; */
}

.item {
  text-indent: 1em;
}

#todospace {
  width: 30%;
  height: 100%;
  border: 5px solid black;
  text-align: center;
}

.add {
  position: relative;
  left: 50%;
}

#createProject {
  display: none;
}

#createTodo {
  display: none;
}

.delete-btn {
  display: inline;
}